html, body {
    padding: 0;
    margin: 0 5px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
}

a:hover {
    color: #227422;
}

a.no-underline {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'cirlipa';
    src: url('https://sozysozbot.github.io/fonts/cirlxarli_liparxe_1.woff') format('woff');
}

@font-face {
    font-family: 'pektak';
    src: url('https://sozysozbot.github.io/fonts/pek_tak.woff') format('woff');
}

@font-face {
    font-family: 'ycaxen-light';
    src: url('https://meloviliju.github.io/ycaxen/light/ycaxen-light.woff') format('woff');
}

@font-face {
    font-family: 'ycaxen-medium';
    src: url('https://meloviliju.github.io/ycaxen/medium/ycaxen-medium.woff') format('woff');
}

@font-face {
    font-family: 'rounded';
    src: url('https://yasusho.github.io/linmarn_font_project/fonts/rounded/linzklar_rounded.woff') format('woff');
}

:lang(x-lineparine) {
    font-family: 'cirlipa';
    line-height: 1.5em;
}

a:lang(x-lineparine) {
    text-decoration: none;
    /* f とかのディセンダーと衝突して読みづらい */
    font-weight: bold;
}

:lang(x-pektak) {
    font-family: 'pektak';
}

:lang(x-ycaxen-light) {
    font-family: 'ycaxen-light';
    font-size: 100%;
    line-height: 1.2em;
}

:lang(x-ycaxen-medium) {
    font-family: 'ycaxen-medium';
    font-size: 100%;
    line-height: 1.2em;
}

:lang(x-linmarn) {
    font-family: 'rounded';
    font-size: 110%;
    vertical-align: -15%;
}

.header-logo-container {
    display: flex;
}

.header-genres-container>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: bold;
    font-size: 80%;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    align-items: center;
}

.header-genres-container>ul>li {
    position: relative;
    text-align: center;
    flex: 1;
    border-right: 2px groove #aaa;
}

.header-genres-container>ul>li:last-child {
    border: none;
}

a.header-link {
    color: black;
    text-decoration: none;
}

a.header-link:hover {
    color: #005242;
}

a.footer-link {
    color: #666;
}

a.footer-link:hover {
    color: #005242;
}

header {
    margin: 0 auto;
    max-width: 970px;
}

footer {
    margin: 0 auto;
    max-width: 970px;
}

body {
    max-width: 970px;
    margin: 0 auto;
}

article {
    margin: 0 auto;
}